@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./assets/img/background.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
