@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-image: url('./assets/img/background.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	color-scheme: dark;
	font-family: 'Rubik', sans-serif;
}
